<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>931A0FE9192A9CDD00D3CC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931A0FF9192A9CDD00D3CC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1016BF81CBF760F00CE57D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
